a {
  display: block;
  text-decoration: none;
  font-size: 140%;
}

nav {
  margin-bottom: 20px;
}

nav a {
  display: inline-block;
  background-color: #ccc;
  margin-right: 20px;
  padding: 5px 10px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 120%;
  max-width: 90%;
  margin: 0 auto;
}

tr {
  border: 1px solid black;
}

th {
  text-align: center;
  vertical-align: baseline;
  border: 1px solid black;
  padding: 10px;
}

td {
  vertical-align: middle;
  border: 1px solid black;
  padding: 10px;
}